body
{
    background-color: rgb(25, 25, 25);
    color: #fff;
    font-family: Arial;
}

.title { font-size: 4rem; }

img { height: 90px; }

.move-button
{
    background-color: transparent;
    border: 3px solid #fff;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 15px;
    cursor: pointer;
}

.result
{
    font-size: 25pt;
    font-weight: bold;
    margin-top: 100px;
}

.uc
{
    font-size: 25pt;
    font-weight: bold;
}

.score
{
    margin-top: 80px;
    font-size: 25pt;
}

.btn-reset
{
    background-color: #fff;
    border: none;
    font-size: 18pt;
    padding: 10px 23px;
    cursor: pointer;
}